h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#tabla-movimientos, .tabla-movimientos{
    width: 100%;
    border-collapse: collapse;
}

#tabla-movimientos th,
#tabla-movimientos td,
.tabla-movimientos th,
.tabla-movimientos td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#tabla-movimientos th,
.tabla-movimientos th {
    background-color: #f0f0f0;
    font-weight: bold;
}

#tabla-movimientos tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.tabla-movimientos tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.positivo {
    color: #28a745; /* Verde para ingresos */
}

.negativo {
    color: #dc3545; /* Rojo para egresos */
}

.ver-detalle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.ver-detalle-button:hover {
    background-color: #0056b3;
}

.pdf-generar{
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(121, 8, 8);
    padding: 3px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .pdf-generar:hover{
    background-color: rgb(182, 0, 0);
  }

  .excel-generar{
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(50, 109, 3);
    padding: 3px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
  }

  .excel-generar:hover{
    background-color: rgb(79, 175, 0);
  }

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #tabla-movimientos th,
    #tabla-movimientos td,
    .tabla-movimientos th,
    .tabla-movimientos td {
        padding: 8px 10px;
        font-size: 0.9em;
    }

    .ver-detalle-button {
        font-size: 0.8em;
        padding: 5px 8px;
    }
}